.faq__title {
    margin-bottom: 50px;
}
.faq__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.faq__item {
    position: relative;
    background-color: var(--backgroundColor, #ffffff);
    color: var(--color, #1c1a1a);
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
}

.faq__item:not(:last-child) {
    margin-bottom: 20px;
}

.faq__item:nth-child(even) {
    background-color: var(--backgroundColor, #440F51);
    color: var(--color, #ffffff);
}

.faq__item:nth-child(odd)::after {
    position: absolute;
    display: inline-block;
    left: 1030px;
    top: 20px;
    background: url("../img/icons/circlePurple.svg") no-repeat;
    content: " ";
    height: 50px;
    width: 50px;
    transition: background-image 500ms ease-in-out;
}

.faq__item:nth-child(odd):hover::after {
    background-image: url("../img/icons/circlePurpleFiled.svg");
}

.faq__item:nth-child(odd):active::after {
    background-image: url("../img/icons/circlePurpleMenus.svg");
}

.faq__item:nth-child(even)::after {
    position: absolute;
    display: inline-block;
    left: 1030px;
    top: 20px;
    background: url("../img/icons/circleWhite.svg") no-repeat;
    content: " ";
    height: 50px;
    width: 50px;
    transition: background-image 500ms ease-in-out;
}

.faq__item:nth-child(even):hover::after {
    background-image: url("../img/icons/circleWhiteFilled.svg");
}

.faq__item:nth-child(even):active::after {
    background-image: url("../img/icons/circleWhiteMenus.svg");
}
