.footer {
  padding-bottom: 10px;
  background: var(--background, linear-gradient(180deg, #1B1A1B 0%, #370A37 100%));
}

.contact {
  margin-bottom: 156px;
}

.contact__content {
  display: flex;
  justify-content: space-between;
}

.contact__title {
  margin-bottom: 50px;
}

.contact__list {
  margin-bottom: 40px;
}

.contact__item {
  position: relative;
  padding-left: 70px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.contact__item-address {
  margin-bottom: 40px;
  max-width: 310px;
}

.contact__item-address:before {
  position: absolute;
  display: inline-block;
  content: "";
  background: url("../img/icons/location.svg") no-repeat;
  left: 0;
  top: 10px;
  height: 32px;
  width: 35px;
}

.contact__item-tel {
  margin-bottom: 15px;
}

.contact__item-tel:before {
  position: absolute;
  display: inline-block;
  content: "";
  background: url("../img/icons/phone.svg") no-repeat;
  left: 0;
  height: 32px;
  width: 35px;
}

.contact__item-mail:before {
  position: absolute;
  display: inline-block;
  content: "";
  background: url("../img/icons/mail.svg") no-repeat;
  left: 0;
  height: 32px;
  width: 35px;
}

.contact__social-list {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.contact__social-link {
  transition: color 200ms linear, outline 200ms linear;
}

.contact__social-link:hover {
  color: #eadeed;
}

.contact__social-link:focus {
  color: #eadeed;
  outline: 1px solid #cd06ff;
}

.contact__social-link:active {
  color: #cd06ff;
  outline: none;
}

.contact__map {
  flex-basis: 680px;
  min-height: 274px;
  background: url("../img/map.png");
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
}

.copyright__design {
  max-width: 157px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
