.hall {
  padding: 50px 0;
}

.hall__title {
  margin-bottom: 60px;
}

.hall__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 718px;
}

.hall__item {
  position: relative;
  width: 580px;
  min-height: 349px;
}

.hall__item-vibes {
  background: url("../img/vibes.jpg") no-repeat;
  background-size: contain;
}

.hall__item-star {
  background: url("../img/starWars.jpg") no-repeat;
  background-size: contain;
}

.hall__item-west {
  background: url("../img/wildWest.jpg") no-repeat;
  background-size: contain;
}

.hall__item-neon {
  background: url("../img/neonStyle.jpg") no-repeat;
  background-size: contain;
}

.hall__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
}
