.hero {
  position: relative;
  padding-top: 126px;
  margin-bottom: 60px;
  min-height: 950px;
}

.hero::after {
  position: absolute;
  display: inline-block;
  left: 500px;
  top: 192px;
  background: url("../img/banner.png") no-repeat;
  content: "";
  height: 762px ;
  width: 675px;
}

.hero__title {
  font-size: 150px;
  font-weight: 900;
  letter-spacing: -0.1em;
  line-height: 150px;
}

.hero__description {
  padding-left: 92px;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
}
